<%- include('layoutH') -%>
<h1><%=title%></h1>
<form action="/pedidos/add" method="POST">
    <div id="form-group">
        <label>Titulo</label>
        <input type="text" class="form-control" name="titulo">
        <br>
        <label>User</label>
        <input type="text" class="form-control" name="user">
        <br>
        <label>Informação</label>
        <br>
        <textarea name="info" class="form-group" cols="100" rows="10"></textarea>
        <br>
        <input class="btn btn-primary" type="submit" value="submit"/>
    </div>
</form>
<%- include('layoutF') -%>